# okasha sameer 19b-060-se lab 2 exs

In [2]:
 # calculating number of days between two dates
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(delta.days)

9

In [5]:
# ex2(a)
# calculating height length of laddar
import math
length = 16
angle = 75
height = length * math.sin(angle)
print("the height of laddar is",(height))

the height of laddar is -6.204506166550887

In [6]:
# 2(b)
import math 
length = 20 
angle = 0 
height = length * math.sin(angle)
print("the height of ladadar is",(height))

the height of ladadar is 0.0

In [7]:
# 2(c)
import math
length = 24
angle = 45
height = length * math.sin(angle)
print("the height of laddar is",(height))

the height of laddar is 20.42168458881884

In [8]:
# 2(d)
import math
length = 24
height = 45
height = length * math.sin(angle)
print("the height of laddar is",(height))

the height of laddar is 20.42168458881884

In [10]:
# finding corresponding python statements
# 6(a)
a = 6
b = 7
# 6(b)
c = ((a + b / 2))
print(c)
# 6(c)
inventory = ['paper', 'staples', 'pencils']
# 6(d)
first = 'john'
middle = 'fitzgerald'
last = 'kennedy'
# 6(e)
fullname = first + " " + middle + " " + last
print("my fullname is " + fullname)

9.5
my fullname is john fitzgerald kennedy

In [18]:
# 5(a)
print("the number of characters in the word anachronistically is 1 more than the number of characters in the word counterintuitive")

the number of characters in the word anachronistically is 1 more than the number of characters in the word counterintuitive

In [19]:
# 5(c)
print("the letter e does not appear in the word floccinaucinihilipilification")

the letter e does not appear in the word floccinaucinihilipilification

In [20]:
# 5(b)
print("the word misinterpretation appears earlier in the dictinary than the word misrepresentation")

the word misinterpretation appears earlier in the dictinary than the word misrepresentation

In [1]:
# ex 4
monthsL = ("jan", "feb", "mar", "may")
monthsT = ("jan", "feb", "mar", "may")
# (a)
monthsL.insert(3, "apr")
print(monthsL)
monthsT.insert(3, "apr")
print(monthsT)

AttributeError: 'tuple' object has no attribute 'insert'

In [2]:
# ex 4(b)
monthsL = ("jan", "feb", "mar", "may")
monthsT = ("jan", "feb", "mar", "may")
monthsL.appened(3, "apr")
print(monthsL)
monthsT.appened(3, "apr")
print(monthsT)

AttributeError: 'tuple' object has no attribute 'appened'

In [3]:
# ex 4(c)
monthsL = ("jan", "feb", "mar", "may")
monthsT = ("jan", "feb", "mar", "may")
monthsL.pop()
print(monthsL)
monthsT.pop()
print(monthsT)

AttributeError: 'tuple' object has no attribute 'pop'

In [4]:
# ex 4(d)
monthsL = ("jan", "feb", "mar", "may")
monthsT = ("jan", "feb", "mar", "may")
monthsL.remove("feb")
print(monthsL)
monthsT.remove("feb")
print(monthsT)

AttributeError: 'tuple' object has no attribute 'remove'

In [5]:
# ex 4(e)
monthsL = ("jan", "feb", "mar", "may")
monthsT = ("jan", "feb", "mar", "may")
monthsL.reverse()
print(monthsL)
monthsT.reverse()
print(monthsT)

AttributeError: 'tuple' object has no attribute 'reverse'

In [6]:
# ex 4(f)
monthsL = ("jan", "feb", "mar", "may")
monthsT = ("jan", "feb", "mar", "may")
monthsL.sort()
print(monthsL)
monthsT.sort()
print(monthsT)

AttributeError: 'tuple' object has no attribute 'sort'